﻿
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))

    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " , "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
    using (Html.BeginForm("Create New User", "Users", FormMethod.Post, new { id = "loginLink", @class = "navbar-right" }))
    { 
    
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Users", "Users", "Users", routeValues: null, htmlAttributes: new { id = "ItemLink" })</li>*@
       
    </ul>
}
