﻿@model IEnumerable<Invantory_View_To_MW.Models.User>

<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <table class="table table-bordered">
            <thead>
                <tr class="success">
                    <td colspan="2">
                        Log In
                        <a class="btn btn-success pull-right" href="Register.html">Register</a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User Name</td>
                    <td>
                        <input type="text" id="txtusername" placeholder="UserName" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" id="txtpass" placeholder="password" />
                    </td>
                </tr>
                <tr class="success">
                    <td colspan="2">
                        <input id="btnlogin" class="btn btn-success" type="button" value="login" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" tabindex="-1" id="SuccessModal"
             data-keyboard="fales" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close btn btn-success" data-dismiss="modal">
                            &times;
                        </button>
                        <h4>success</h4>
                    </div>
                    <div class="modal-body">
                        <h2>Registeration Successful</h2>
                    </div>
                    <div class=" modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-success">
                            Cloose
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" class="close" href="#">&times; </a>
            <div id="divErrorText"></div>
        </div>

    </div>

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">
    //<script type="text/javascript">
    $(document).ready(function () {
        $("#linkClose").click(function () {
            $("#divError").hide('fade');
        });
        $("#btnlogin").click(function () {
            $.ajax({
                URL: 'https://localhost:44379/token',
                type: 'POST',
                contentType: 'application/json',
                data: {
                    userName: $("#txtusername").val(),
                    pass: $("#txtpass").val(),
                    grant_type: 'password'
                },
                success: function (response) {
                    sessionStorage.setItem("accessToken", response.access_token);

                    window.location.href = "/Items/Index";
                   
                    //$("#divErrorText").text(JSON.stringify(response));
                    //$("#divError").show("fade");
                },
               
                Error: function (JQXHR) {
                    $("#divErrorText").text(JQXHR.responseText);
                    $("#divError").show("fade");
                },
            });
        });
    });
</script>
