﻿@model IEnumerable<Invantory_View_To_MW.Models.All_W_V_I>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.W_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.W_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.A_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.A_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.A_ID })
        </td>
    </tr>
}

</table>
