﻿@model Invantory_View_To_MW.Models.Warehouse

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.W_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.W_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.W_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_Time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
