﻿@model Invantory_View_To_MW.Models.Warehouse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.W_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.W_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.W_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.W_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
