﻿@model IEnumerable<Invantory_View_To_MW.Models.Warehouse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <tr style="text-align:center; background-color:#5967b9;color:aliceblue">
        <th style="text-align:center; background-color:#5967b9;color:aliceblue">
            @Html.DisplayNameFor(model => model.W_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.W_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.W_Time)
        </th>
        <th style="text-align:center; background-color:#ffffff;color:aliceblue"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.W_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W_Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.W_ID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.W_ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.W_ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
