﻿@model Invantory_View_To_MW.Models.Item

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <div class="alert alert-info" style="text-align:right">
        <dt>
            @Html.DisplayNameFor(model => model.I_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Name)
        </dd>
</div>
<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Code)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Code)
    </dd>
</div>
<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Desc)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Desc)
    </dd>
</div>
<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.User_ID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.User_ID)
    </dd>
</div>
<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Date)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Date)
    </dd>
</div>
<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Time)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Time)
    </dd>
</div>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |

            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }

