﻿@model Invantory_View_To_MW.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@*<div class="container">
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.I_Name)
        </div>
        <div class="col">
            @Html.DisplayFor(model => model.I_Name)
        </div>
    </div>

    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.I_Code)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.I_Desc)
        </div>
    </div>*@

@*</div>*@
<div class="code-cut">

    <dl class="dl-horizontal col-12">
        <div class="alert alert-info" style="text-align:right">
        <dt>
            @Html.DisplayNameFor(model => model.I_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_Name)
        </dd>

</div>

<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Code)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Code)
    </dd>
</div>

<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Desc)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Desc)
    </dd>
</div>

<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.User_ID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.User_ID)
    </dd>
</div>

<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Date)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Date)
    </dd>
</div>

<div class="alert alert-info" style="text-align:right">
    <dt>
        @Html.DisplayNameFor(model => model.I_Time)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.I_Time)
    </dd>
</div>


        </dl>
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.I_ID,token = Model.token }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
