﻿@model IEnumerable<Invantory_View_To_MW.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*<button class="btn btn-default" type="submit">Button</button>
        <button type="button" class="btn btn-success">Success</button>*@
    @*<button type="button" class="btn btn-outline-success">Success</button>*@
  @*  @Html.ActionLink("Button text", "ActionName", "ControllerName", new { @class = "btn btn-primary" })*@
    @Html.ActionLink("Create New", "Create", "Items", new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        <tr style="text-align:center; background-color:#5967b9;color:aliceblue">
            <th style="text-align:center; background-color:#5967b9;color:aliceblue">
                @Html.DisplayNameFor(model => model.I_Name)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.I_Code)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.I_Desc)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.User_ID)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.I_Date)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.I_Time)
            </th>
            <th style="text-align:center; background-color:#ffffff;color:aliceblue"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                <td>
                    @Html.DisplayFor(modelItem => item.I_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.I_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.I_Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.I_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.I_Time)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.I_ID }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.I_ID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.I_ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    </div>