﻿@model Invantory_View_To_MW.Models.All_W_V_I

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>All_W_V_I</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.W_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Time)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "JoinTable")
        </div>
    }
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>