﻿@model Invantory_View_To_MW.Models.All_W_V_I

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<h2>Details</h2>

<div>
    <h4>All_W_V_I</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.W_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.I_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.I_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.A_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.A_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.A_ID }) |
    @Html.ActionLink("Back to List", "JoinTable")
</p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>