﻿@model IEnumerable<Invantory_View_To_MW.Models.All_W_V_I>


@using (Html.BeginForm("Index1", "All_W_V_I", FormMethod.Get))
{
    <span id= "startdate"> Start Date: </span><input id = "Text1" type = "date" name = "SFrom"/>
    <span id= "enddate"> End Date: </span><input id = "Text2" type = "date" name = "STo"/>
    <input id= "submit1" type = "submit" value = "Search By Dates" class = "btn btn-primary" />
}

<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <tr style="text-align:center; background-color:#5967b9;color:aliceblue">
        <th style="text-align:center; background-color:#5967b9;color:aliceblue">
            @Html.DisplayNameFor(model => model.W_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr style="text-align:center">
    <td>
        @Html.DisplayFor(modelItem => item.W_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.V_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.I_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Qty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.A_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.A_Time)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.A_ID }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Details", "Details", new { id = item.A_ID }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.A_ID }, new { @class = "btn btn-danger" })
    </td>
</tr>
    }

</table>
