﻿@model IEnumerable<Invantory_View_To_MW.Models.JoinClass>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Create New", "CreateCollegeDetails", "CollegeDetails")*@
</p>

@*<select>
    <option value="I_ID" selected disabled>
        -------- Select Item Name -----------
    </option>

    @foreach (var item in Model)
    {
        <option>@item.getItem.I_Name </option>
    }
</select>
<hr />
<select>
    <option value="V_ID" selected disabled>
        -------- Select Vendor Name -----------
    </option>

    @foreach (var item in Model)
    {
        <option>@item.getWarehouse.W_Name </option>
    }

</select>
<hr />
<select>
    <option value="V_ID" selected disabled>
        -------- Select Warehouse Name -----------
    </option>

    @foreach (var item in Model)
    {
        <option>@item.getVendor.V_Name </option>
    }

</select>*@

<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <tr style="text-align:center; background-color:#5967b9;color:aliceblue">
        <th style="text-align:center; background-color:#5967b9;color:aliceblue">
            @Html.DisplayNameFor(model => model.getWarehouse.W_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getVendor.V_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getItem.I_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getAll_W_V_I.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getAll_W_V_I.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getAll_W_V_I.A_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.getAll_W_V_I.A_Time)
        </th>
        <th style="text-align:center; background-color:#ffffff;color:aliceblue"></th>
        <td>
    </tr>




    @foreach (var item in Model)
    {
        <tr style="text-align:center">


            <td>
                @Html.DisplayFor(modelItem => item.getWarehouse.W_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getVendor.V_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getItem.I_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getAll_W_V_I.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getAll_W_V_I.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getAll_W_V_I.A_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getAll_W_V_I.A_Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.getAll_W_V_I.A_ID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.getAll_W_V_I.A_ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.getAll_W_V_I.A_ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>

