﻿@model IEnumerable<Invantory_View_To_MW.Models.JoinTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Create New", "CreateCollegeDetails", "CollegeDetails")*@
</p>
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <tr style="text-align:center; background-color:#5967b9;color:aliceblue">
        <th style="text-align:center; background-color:#5967b9;color:aliceblue">

            @Html.DisplayNameFor(model => model.A_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.W_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_Time)
        </th>
        <th style="text-align:center; background-color:#ffffff;color:aliceblue"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center">
            <td>
                @Html.DisplayFor(modelItem => item.A_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.I_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.V_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_Time)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.A_ID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.A_ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.A_ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
